In [38]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [39]:
df = pd.read_csv('fruitData.csv')

df.head(10)

    fruit  price
0   Apple    2.0
1  Orange    2.0
2  Banana    1.5
3   Mango    1.0
4    Pear    2.0

In [40]:
X = df.drop('price', axis = 'columns')
y = df['price']

X.head()

    fruit
0   Apple
1  Orange
2  Banana
3   Mango
4    Pear

In [46]:
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False).set_output(transform='pandas')

encoderTransform = encoder.fit_transform(df[['fruit']])

In [27]:
encoderTransform

   fruit_Apple  fruit_Banana  fruit_Mango  fruit_Orange  fruit_Pear
0          1.0           0.0          0.0           0.0         0.0
1          0.0           0.0          0.0           1.0         0.0
2          0.0           1.0          0.0           0.0         0.0
3          0.0           0.0          1.0           0.0         0.0
4          0.0           0.0          0.0           0.0         1.0

In [41]:
#20% of data for testing
X_train, x_test, y_train, y_test = train_test_split(X, y, random_state=20, test_size=0.2)

In [42]:
X_train

    fruit
4    Pear
0   Apple
2  Banana
3   Mango